<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
     rel="stylesheet">
    <title>Vue - Boolflix</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
</head>
<body>
    <div id="app">
        <header>
            <div class="icon-section">
                <div class="icon-wrapper">
                	<img src="img/netflix_logo.svg" alt="Netflix Logo">
                </div>
                <div class="header-sections-link">
                    <ul>
                        <li @click="getPopular">Home</li>
                        <li @click="getTvShowPopular">TV Shows</li>
                        <li @click="getMoviesPopular">Movies</li>
                        <li>New & Popular</li>
                        <li @click="showMyList">My List</li>
                    </ul>
                </div>
            </div>
            <div class="search-bar-wrapper">
                <div class="costum-select">
                    <select @change="filtredByGenre" v-model="selected">
                        <option class="options" value="">Genres</option>
                        <option v-for="genre in genres" class="options" :value="genre.id">{{genre.name}}</option>
                    </select>
                </div>
                <input  
                @keyup.enter="getSearched" 
                @keyup="debounceSearch(getSearched)"  
                v-model="searchValue" 
                type="text" placeholder="Title, people, genres">
                <button @click="getSearched"><i class="fas fa-search"></i></button>
                <div class="icons-wrapper-right">
                    <i class="fas fa-gift"></i>
                    <i class="fas fa-bell"></i>
                    <img src="img/icons-user.png" alt="">
                    <i class="fas fa-caret-down"></i>
                </div>
            </div>
        </header>

        <main>
            <div class="container-movies">  
                <!-- MOVIE CARD -->
                <div 
                v-for="(movie, index) in searchedList"
                class="movie-card" >
                    <div class="background-cover">
                        <img v-if="movie.poster_path != null" :src="prefixUrl+movie.poster_path" alt="movie.title">
                        <img v-else src="img/no-cover.png" alt="movie.title">
                    </div>
                    <div class="overlay">
                        <span @click="deleteToMyList(index)" id="remove"><i class="fas fa-minus"></i></span>
                        <span @click="addToMyList(movie)" id="favorites"><i class="far fa-star"></i></span>
                        <h2 id="title">Title:<span class="content-card">{{movie.title}}{{movie.name}}</span></h2>
                        <h2 id="original-title">Original Title:<span class="content-card">{{movie.original_title}}{{movie.name}}</span></h2>
                        <h2 id="language">Language:
                            <span class="content-card">{{movie.original_language | capitalize}}
                            </span>
                            <img :src="urlImg+movie.original_language+extensionImg">
                        </h2>
                        <h2 id="score">Score:<span class="content-card">
                            <i v-for="vote in (Math.ceil(movie.vote_average / 2))"class="fas fa-star"></i>
                            <i v-for="vote in (5 - Math.ceil(movie.vote_average / 2)) "class="far fa-star"></i>
                        </span></h2>
                        <h2 id="cast">Cast:
                            <span class="content-card">
                                {{movie.cast.join(' , ')}}
                            </span>
                        </h2>
                        <h2 id="genres">Gernes:<span class="content-card">
                            {{movie.genres.join(' , ')}}
                        </span></h2>
                        <h2 id="overview">Overview:<span class="content-card">{{movie.overview}}</span></h2>
                    </div>
                </div>
                <!-- /MOVIE CARD -->

                <!-- SHOW MESSAGE IF SEARCH DON'T GET RESULTS -->
                <div v-if="searchedList.length == 0" class="no-result">
                    <p>You search for "{{searchValue}}" did not have any matches</p><br>
                    <p>Suggestion:</p>
                    <ul>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                    </ul>
                </div>
                <!-- /SHOW MESSAGE IF SEARCH DON'T GET RESULTS-->
            </div>
        </main>
    </div>

    <script src="js/main.js"></script>
</body>
</html>
